[package]
name = "beancount-parser"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.25"
nom = "7.1.3"

[dev-dependencies]
anyhow = "1.0.71"
test-case = "3.1.0"
